.matrix {
  display: inline-grid;
  grid-gap: 1em;
  grid-template-columns: 1em repeat(var(--cols), 2em) 1em;
  grid-template-rows: 1em repeat(var(--rows), 2em) 1em;
  --rows: 4;
  --cols: 4;
  --true-rows: calc(var(--rows) + 2);
  --true-cols: calc(var(--cols) + 2);
}

.matrix .matrix-add-column {
  grid-area: 2 / var(--true-cols) / var(--true-rows) / var(--true-cols); 
}

.matrix .matrix-add-row {
  grid-area: var(--true-rows) / 2 / var(--true-rows) / var(--true-cols);
}

.matrix .matrix-remove-column {
  grid-area: 2 / 1 / var(--true-rows) / 1;
}

.matrix .matrix-remove-row {
  grid-area: 1 / 2 / 1 / var(--true-cols);
}

#loading {
  z-index: 20;
  pointer-events: all;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: .2s ease opacity;
}

:root[loaded] #loading {
  opacity: 0;
  pointer-events: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=submit] {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
